.regestr {
  font-family: gothampro;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .phon {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  .slider {
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 1200px;
    width: 400px;
    overflow-y: scroll;

    img {
      overflow-y: hidden;
      width: 400px;
      height: 400px;
    }
  }
  .slider1 {
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 1200px;
    width: 400px;
    overflow-y: scroll;
    img {
      width: 400px;
      height: 400px;
    }
  }

  .form {
    position: relative;
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    .phonform {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: white;
      opacity: 0.3;
      border-radius: 20px;
    }
    .content {
      position: absolute;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        margin-bottom: 30px;
        font-size: 60px;
      }
      input {
        width: 300px;
        height: 40px;
        margin-bottom: 30px;
        border-radius: 10px;
        border: 1px solid black;
        padding-left: 10px;
        background: none;
      }

      .label {
        position: absolute;
        margin-left: -140px;
        margin-top: -190px;
        transition: 0.3s;
        pointer-events: none;
      }
      .label2 {
        position: absolute;
        margin-left: -140px;
        margin-top: -155px;
        transition: 0.3s;
        pointer-events: none;
      }
      .label1 {
        position: absolute;
        margin-left: -290px;
        margin-top: 9px;
        transition: 0.3s;
        pointer-events: none;
      }
      input:focus ~ .label,
      input:valid ~ .label {
        transform: translateY(-20px);
        font-size: 15px;
        background-color: #ffebe1;
        padding-left: 7px;
        padding-right: 7px;
      }
      input:focus ~ .label1,
      input:valid ~ .label1 {
        transform: translateY(-20px);
        padding-left: 7px;
        padding-right: 7px;
        font-size: 15px;
        background-color: #ffebe1;
      }
      input:focus ~ .label2,
      input:valid ~ .label2 {
        transform: translateY(-20px);
        padding-left: 7px;
        padding-right: 7px;
        font-size: 15px;
        background-color: #ffebe1;
      }

      .input {
        img {
          position: absolute;
          width: 30px;
          height: 30px;
          margin-left: 250px;
          margin-top: -65px;
          cursor: pointer;
        }
      }
      button {
        width: 300px;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 10px;
        margin-top: 20px;
        background-color: #333333;
        color: white;
      }
      p {
        margin-bottom: 10px;
        cursor: pointer;
        color: black;
      }
      .p {
        font-weight: bold;
      }
      .p1 {
        cursor: pointer;
        margin-left: -170px;
      }
    }
  }
}
